@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll; 
    overflow-x: hidden; 
}

/* src/index.css or src/App.css */


/* :root {
    --dvh: 100vh;
  }
  
  @media (max-width: 767px) {
    :root {
      --dvh: 1dvh;
    }
  }
  
  html, body {
    height: 100vh;
    height: 100dvh;
  } */