@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root {
  --dvh: 100vh;
}

@media (max-width: 767px) {
  :root {
    --dvh: 1dvh;
  }
}

html,
body {
  height: 100vh;
  height: 100dvh;
}

.highlight-comment {
  animation: highlight-fade 3s ease-out forwards;
}

@keyframes highlight-fade {
  0% {
    background-color: rgba(60, 140, 255, 0.2);
  }
  100% {
    background-color: transparent;
  }
}

/* @keyframes discord-pulse {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  20% {
    transform: translateY(-4px);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

.pulsing-dot {
  animation: discord-pulse 1.4s infinite;
}

.pulsing-dot-1 {
  animation-delay: 0s;
}

.pulsing-dot-2 {
  animation-delay: 0.2s;
}

.pulsing-dot-3 {
  animation-delay: 0.4s;
} */

@keyframes discord-pulse {
  0%,
  80%,
  100% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  40% {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

.pulsing-dot {
  /* You can adjust these base styles */
  background-color: currentColor;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;

  animation: discord-pulse 1.4s infinite;
}

.pulsing-dot-1 {
  animation-delay: 0s;
}

.pulsing-dot-2 {
  animation-delay: 0.2s; /* This creates the staggered effect */
}

.pulsing-dot-3 {
  animation-delay: 0.4s;
}

.highlight-message {
  background-color: rgba(59, 130, 246, 0.5);
  /* box-shadow: 0 0 10px 3px rgba(59, 130, 246, 0.5); */
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-custom {
  animation: bounce-custom 1s infinite;
}

.word-break-anywhere {
  overflow-wrap: anywhere;
}

.modal-open {
  overflow: hidden;
}

.fill-current {
  fill: currentColor;
}

.white-shadow {
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.8);
}

.black-shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.9);
}

.gray-shadow {
  box-shadow: 0px 0px 5px 1px rgba(122, 122, 122, 0.9);
}

.fixed.inset-0.z-40 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
  background-color: rgba(0, 0, 0, 0.5);
}

